<!DOCTYPE html>
<html>

<head>
  <title>Delivery Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS
		================================================== -->
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="../static/plugins/bootstrap/dist/css/bootstrap.min.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Integrating LINE SDK-->
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
  <section class="portfolio section" id="portfolio">
    <div class="container">
      <div class="row ">
        <div class="col-xs">
          <!-- section title -->
          <div class="title text-center">
            <h2>DELI<span class="color">VERY</span></h2>
            <div class="border"></div>
          </div>
          <!-- /section title -->
        </div>
        <!-- /end col-lg-12 -->
        <!-- Start Delivery Section-->
        <div class="col-xs-6">
          <a href="https://bit.ly/36X6cTp"><img class="img-responsive" src="../static/img/10.jpg">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://wongn.ai/mcsjr"><img class="img-responsive" src="../static/img/11.jpg">
          </a>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="container">
      <div class="row ">
        <div class="col-xs-6">
          <a href="https://bit.ly/36X6cTp"><img class="img-responsive" src="../static/img/12.jpg">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://wongn.ai/mcsjr"><img class="img-responsive" src="../static/img/13.jpg">
          </a>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</body>

</html>