<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 10px;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <a href ="https://bit.ly/36X6cTp" ><img src="static/img/GRABFOOD.png" alt="Grab" class="w3-circle" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a href ="https://wongn.ai/mcsjr" ><img src="static/img/LINEMAN.png" alt="LINEMAN" class="w3-circle" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a href ="https://bit.ly/3fgfZIs" > <img src="static/img/RBH.png" alt="Robinhood" class="w3-circle" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a href ="https://bit.ly/32VguQi" > <img src="static/img/GOJEK.png" alt="Gojek" class="w3-circle" style="width:100%">
    </a>
  </div>
</div>

</body>
</html>