<!DOCTYPE html>
<html>
<head>
  <title>Delivery Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <a href ="https://bit.ly/36X6cTp" target ="_blank" ><img src="static/img/GRABFOOD.png" alt="Grab" class="rounded-circle" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a href ="https://wongn.ai/mcsjr" target ="_blank" ><img src="static/img/LINEMAN.png" alt="LINEMAN" class="rounded-circle" style="width:100%">
    </a>
  </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <a href ="https://bit.ly/3fgfZIs" target ="_blank" > <img src="static/img/RBH.png" alt="Robinhood" class="rounded-circle" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a href ="https://bit.ly/32VguQi" target ="_blank" > <img src="static/img/GOJEK.png" alt="Gojek" class="w3-circle" style="width:100%">
    </a>
  </div>
</div>

</body>
</html>