<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>Cool Beans Menu</title>
	<!-- Mobile Specific Meta
		================================================== -->
	<meta name="viewport" content="width=device-width; initial-scale=1;">
	<!-- Favicon -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->

	<!-- CSS
		================================================== -->
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="../static/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">
	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
	<!-- Start Portfolio Section
		=========================================== -->

	<section class="portfolio section" id="portfolio">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12">
					<!-- section title -->
					<div class="title text-center">
						<h2>OUR <span class="color">MENU</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
				</div> <!-- /end col-lg-12 -->
			</div> <!-- end row -->
			<h3 style="text-align:center;color:white;">Tab for more information</h3>
			&nbsp
			<h2 style="text-align:center;color:white;">BLACK COFFEE</h2>
			&nbsp
			<div class="row">
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/AMERICANO_1.jpg" alt="">
						<div class="caption">
							<h3>SIGNATURE AMERICANO</h3>
							&nbsp
							<h4>ORIGIN</h4>
							<h5>Suan Ya Luang, Nan</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CBSCHOICE_1.jpg" alt="">
						<div class="caption">
							<h3>COOL BEANS CHOICE</h3>
							&nbsp
							<h4>ORIGIN</h4>
							<h5>Variation of Thai Coffee Beans.</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/COLDBREW_1.jpg" alt="">
						<div class="caption">
							<h3>COLD BREW</h3>
							&nbsp
							<h4>ORIGIN</h4>
							<h5>Khun Lao, Chiang Rai</h5>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end container BLACK COFFEE-->
		&nbsp
		<h2 style="text-align:center;color:white;">WHITE COFFEE</h2>
		&nbsp
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/LATTE_1.jpg" alt="">
						<div class="caption">
							<h3>LATTE</h3>
							&nbsp
							<h4>Coffee with Milk</h4>
							<h5>No Sugar added.</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CAPPU_1.jpg" alt="">
						<div class="caption">
							<h3>CAPPUCCINO</h3>
							&nbsp
							<h4>Coffee with less Milk</h4>
							<h5>No Sugar added.</h5>
						</div>
					</div>
				</div>
				<div class=" col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/MOCHA_1.jpg" alt="">
						<div class="caption">
							<h3>MOCHA</h3>
							&nbsp
							<h4>Coffee with Chocolate</h4>
							<h5>A little bit sweet.</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CMAC_1.jpg" alt="">
						<div class="caption">
							<h3>CARAMEL MACCHIATO</h3>
							&nbsp
							<h4>Coffee with Caramel</h4>
							<h5>A little bit sweet.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		&nbsp
		<h2 style="text-align:center;color:white;">NON COFFEE</h2>
		&nbsp
		<div class="container">
			<div class="row ">
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/COCOA_1.jpg" alt="">
						<div class="caption">
							<h3>COCOA</h3>
							&nbsp
							<h4>Premium Chocolate Drink</h4>
							<h5>From Chiang Mai Province</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/MILKYWAY_1.jpg" alt="">
						<div class="caption">
							<h3>MILKY WAY</h3>
							&nbsp
							<h4>Refreshment with Caramel</h4>
							<h5>Sweet escape!</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/THAITEA_1.jpg" alt="">
						<div class="caption">
							<h3>THAI TEA</h3>
							&nbsp
							<h4>Premium Tea</h4>
							<h5>From Song Kla Province</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- End section -->
	<!-- 
	Essential Scripts
	=====================================-->
	<!-- Main jQuery -->
	<script type="text/javascript" src="../static/plugins/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.1 -->
	<script type="text/javascript" src="../static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Smooth Scroll -->
	<script type="text/javascript" src="../static/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
	<!-- wow.min Script -->
	<script type="text/javascript" src="../static/plugins/wow/dist/wow.min.js"></script>
	<!-- Custom js -->
	<script type="text/javascript" src="../static/js/script.js"></script>

</body>

</html>