<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Our Coffee Menu">
	<title>Cool Beans Menu</title>

	<!-- Mobile Specific Meta
		================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->

	<!-- CSS
		================================================== -->
	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="../static/plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="../static/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/plugins/animate-css/animate.css">
	<!-- Magnific popup css -->
	<link rel="stylesheet" href="../static/plugins/magnific-popup/dist/magnific-popup.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="../static/plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="../static/plugins/slick-carousel/slick/slick-theme.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<!-- Start Portfolio Section
		=========================================== -->

	<section class="portfolio section" id="portfolio">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12">
					<!-- section title -->
					<div class="title text-center">
						<h2>OUR <span class="color">MENU</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
				</div> <!-- /end col-lg-12 -->
			</div> <!-- end row -->
			<h2 style="text-align:center;color:white;">BLACK COFFEE</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/AMERICANO_1.jpg" alt="">
						<div class="caption">
							<h4>ORIGIN</h4>
							<h5>Suan Ya Luang, Nan</h5>
						</div>
						<P></P>
						<p>SIGNATURE AMERICANO</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CBSCHOICE_1.jpg" alt="">
						<div class="caption">
							<h4>ORIGIN</h4>
							<h5> Variation of Thai Coffee Beans</h5>
							<h5>Thep Sa Dej, Chiang Mai</h5>
							<h5>Mae Jan Tai, Chiang Rai</h5>
							<h5>Huay Chom Poo, Chiang Rai</h5>
						</div>
						<P></P>
						<p>COOL BEANS CHOICE</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/COLDBREW_1.jpg" alt="">
						<div class="caption">
							<h4>ORIGIN</h4>
							<h5>Khun Lao, Chiang Rai</h5>
						</div>
						<P></P>
						<p>COLD BREW</p>
					</div>
				</div>
				<div>&nbsp;</div>
				<h2 style="text-align:center;color:white;">WHITE COFFEE</h2>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/LATTE_1.jpg" alt="">
						<div class="caption">
							<h4>Coffee with Milk</h4>
							<h5>No Sugar added.</h5>
						</div>
						<P></P>
						<p>LATTE</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CAPPU_1.jpg" alt="">
						<div class="caption">
							<h4>Coffee with less Milk</h4>
							<h5>No Sugar added.</h5>
						</div>
						<P></P>
						<p>CAPPUCCINO</p>
					</div>
				</div>
				<div class=" col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/MOCHA_1.jpg" alt="">
						<div class="caption">
							<h4>Coffee with Chocolate</h4>
							<h5>A little bit sweet.</h5>
						</div>
						<P></P>
						<p>MOCHA</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/CMAC_1.jpg" alt="">
						<div class="caption">
							<h4>Coffee with Caramel</h4>
							<h5>A little bit sweet.</h5>
						</div>
						<P></P>
						<p>CARAMEL MACHIATO</p>
					</div>
				</div>
			</div>
		</div> <!-- end container -->
		<h2 style="text-align:center;color:white;">NON COFFEE</h2>
		<div class="container">
			<div class="row ">
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/COCOA_1.jpg" alt="">
						<div class="caption">
							<h4>Cocoa</h4>
							<p>--- Description ---</p>
						</div>
						<P></P>
						<p>COCOA</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/MILKYWAY_1.jpg" alt="">
						<div class="caption">
							<h4>Milky Way</h4>
							<p>--- Description ---</p>
						</div>
						<P></P>
						<p>MILKY WAY</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-block">
						<img class="img-responsive" src="../static/img/portfolio/THAITEA_1.jpg" alt="">
						<div class="caption">
							<h4>Thai Tea</h4>
							<p>--- Description ---</p>
						</div>
						<P></P>
						<p>THAI TEA</p>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- End section -->
	<!-- 
	Essential Scripts
	=====================================-->
	<!-- Main jQuery -->
	<script type="text/javascript" src="../static/plugins/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.1 -->
	<script type="text/javascript" src="../static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Slick Carousel -->
	<script type="text/javascript" src="../static/plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Portfolio Filtering -->
	<script type="text/javascript" src="../static/plugins/filterzr/jquery.filterizr.min.js"></script>
	<!-- Smooth Scroll -->
	<script type="text/javascript" src="../static/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
	<!-- Magnific popup -->
	<script type="text/javascript" src="../static/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<!-- Sticky Nav -->
	<script type="text/javascript" src="../static/plugins/Sticky/jquery.sticky.js"></script>
	<!-- Number Counter Script -->
	<script type="text/javascript" src="../static/plugins/count-to/jquery.countTo.js"></script>
	<!-- wow.min Script -->
	<script type="text/javascript" src="../static/plugins/wow/dist/wow.min.js"></script>
	<!-- Custom js -->
	<script type="text/javascript" src="../static/js/script.js"></script>

</body>

</html>