<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Meghna One page parallax responsive HTML Template ">

	<meta name="author" content="Muhammad Morshed">

	<title>Our Menu</title>

	<!-- Mobile Specific Meta
		================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->

	<!-- CSS
		================================================== -->
	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="../static/plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="../static/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/plugins/animate-css/animate.css">
	<!-- Magnific popup css -->
	<link rel="stylesheet" href="../static/plugins/magnific-popup/dist/magnific-popup.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="../static/plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="../static/plugins/slick-carousel/slick/slick-theme.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">


</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">
	<!--
	    Start Preloader
	    ==================================== -->
	<div class="preloader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<!-- End Preloader
        ==================================== -->
        <!-- Start Portfolio Section
		=========================================== -->

<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center">
					<h2>Our <span class="color">Menu</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div> <!-- /end col-lg-12 -->
		</div> <!-- end row -->
		<div class="row">
			<div class="col-md-12">
				<div class="portfolio-filter">
					<button class="active" type="button" data-filter="all">All</button>
					<button type="button" data-filter="blackcoffee">Black Coffee</button>
					<button type="button" data-filter="whitecoffee">White Coffee</button>
					<button type="button" data-filter="noncoffee">Non Coffee</button>
				</div>
			</div>
		</div>
		<div class="row filtr-container">
			<div class="col-lg-4 filtr-item" data-category="blackcoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/AMERICANO.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/AMERICANO.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Signature Americano</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="blackcoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/CBSCHOICE.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/CBSCHOICE.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Cool Beans Choice</a></h4>
						<p>Our Selected Coffee Beans from the northern of Thailand.</p>
						<p>Brewing in Americano style.</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="blackcoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/COLDBREW.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/COLDBREW.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Cold Brew</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="whitecoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/LATTE.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/LATTE.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Latte</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="whitecoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/CAPPU.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/CAPPU.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Cappuccino</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="whitecoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/MOCHA.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/MOCHA.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Mocha</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="whitecoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/CMAC.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/CMAC.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Caramel Machiato</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="noncoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/COCOA.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/COCOA.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Cocoa</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="noncoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/MILKYWAY.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/MILKYWAY.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Milky Way</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
            <div class="filtr-item col-md-4" data-category="noncoffee">
				<div class="portfolio-block">
					<img class="img-responsive" src="../static/img/portfolio/THAITEA.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="../static/img/portfolio/THAITEA.jpg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						<h4><a href="">Thai Tea</a></h4>
						<p>--- Description ---</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end container -->
</section> <!-- End section -->
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script type="text/javascript" src="../static/plugins/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script type="text/javascript" src="../static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Slick Carousel -->
		<script type="text/javascript" src="../static/plugins/slick-carousel/slick/slick.min.js"></script>
		<!-- Portfolio Filtering -->
		<script type="text/javascript" src="../static/plugins/filterzr/jquery.filterizr.min.js"></script>
		<!-- Smooth Scroll -->
		<script type="text/javascript" src="../static/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
		<!-- Magnific popup -->
		<script type="text/javascript" src="../static/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<!-- Google Map API -->
		<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
		<!-- Sticky Nav -->
		<script type="text/javascript" src="../static/plugins/Sticky/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script type="text/javascript" src="../static/plugins/count-to/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script type="text/javascript" src="../static/plugins/wow/dist/wow.min.js"></script>
		<!-- Custom js -->
		<script type="text/javascript" src="../static/js/script.js"></script>
		
    </body>
</html>