
// Variables
$light: #fff;
$white: #fff;
$primary-color: #57cbcc;
$primary-bg: #262626;
$border-color:rgba(236, 239, 241, 0.07);
$black: #000;
$section-bg : #262626;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$icon-font: 'themefisher-font';